*{
    font-family:monospace;
}

html{
    background-color:#b1b3a5;
}

/* Header and nav */

.navbar{
    padding: 0;
    align-items: center;
}

.navbar-color{
    background-color:#75594d  ;
}

.navbar-brand{
    color: whitesmoke;
    font-size: x-large;
}

.navbar-brand:hover{
    color: whitesmoke;
}

.navbar-brand-icon{
    width: 80px;
}

#UserLogId{
    color: white;
    font-size: larger;
    margin: 10px;
    display: flex;
    justify-content: end;
}

.btn-container{
    font-size: large;
    display: flex;
    justify-content: end;
}

.login-link{
    text-decoration: none;
}

.btn-logout{
    display: none;
}

.btn-login, .btn-logout{

    color: #1a1915;
    background-color:  #d9c5bd;
    border: 1px solid #1a1915;
    height: 45px;
    width: 85px;
    margin: 10px;
}

.btn-login:hover , .btn-logout:hover{
    color: #d9c5bd;
    background-color: #1a1915 ;
    border: 1px solid #d9c5bd;

}

/* content */

.main{
    background-color: #b1b3a5;
}

.presentation{
    padding: 0;
}

.subtitle{
    margin: 20px 0 10px 0;
    font-size: 34px;
}

.presentation-text{
    padding: 10px;
    background-color:  #a68276 ;
    font-size: x-large;
}

.forum{
    margin: 20px 0 10px 0;
    background-color: #a68276;
}

.forum-msg{
    padding: 10px;

    display: none;
    
    flex-direction: column;
}

.forum-msg-send-btn{
    margin: 10px 0;
    padding: 9px;

    background-color:   #1a1915 ;
    border: #1a1915;
}

.forum-msg-send-btn:hover{
    background-color: #b1b3a5 ;
}

.forum-msg-send-btn:active{
    background-color: #b1b3a5 ;
}

/* post */

.post{
    padding: 10px;
    font-size: x-large;
    background-color:   #b1b3a5    ;
    margin: 10px;
    color: #1a1915;
}
.title{
    text-align: justify;
    font-size: xx-large;
}


/* login and register */

.login-register{
    background-color: #b1b3a5;
    padding: 50px;
}

.col-login{
    margin-bottom: 30px;
}